/* FONTS */
@font-face {
    font-family: derania;
    src: url(font/derania-font-/DeraniaDemo-PersonalLicense.otf);
}
@font-face {
    font-family: inflate;
    src: url(font/inflate-p-tx-font/InflateptxChrome-X3oPg.ttf);
}
@font-face {
    font-family: silence;
    src: url(font/tf_silence/TfsilencedemoRegular.otf);
}

/*EVERYTHING ELSE*/
body {
    font-family: inflate;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
    background-image: url('images/beginning.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center; 
}

#question-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center; 
    height: auto; 
}

#question {
    font-size: 100px; 
    margin-bottom: 20px;
}

#buttons {
    display: flex;
    justify-content: center; 
    gap: 20px;
}

button {
    padding: 10px 20px;
    width: 7rem;
    font-size: 20px;
    cursor: pointer;
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    display: inline-block;
    font-weight: 600;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
}

#confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
    display: none;
}

.confetti {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #f00;
    border-radius: 50%;
    pointer-events: none;
    animation: fall 2s ease-out infinite;
}

@keyframes fall {
    0% {
      transform: translateY(-100vh) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(100vh) rotate(720deg);
      opacity: 0;
    }
}

.hidden {
    display: none;
}
